body {
	font-family: $font-family-text;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.font-headings {
	font-family: $font-family-headings;
}

a {
	transition: color 0.3s cubic-bezier(.25,.8,.25,1) !important;
}

.card-link:hover {
	text-decoration: underline !important;
}