{% comment %}
	Usage:
	- img
	- imgalt
	- title
	- description

	- robloxGame (link, solid)
	- aboutLink (link, outline)

	- githubSolid (link, solid)
	- githubOutline (link, outline)

	- trailerSolid (Link to trailer, solid)
	- trailerOutline (Link to trailer, outline)

	- solidLink (Any link, solid)
	- solidTitle (title for solidLink)
	- solidText (buttno text for solidLink)

	- outlineLink (Any link, outline)
	- outlineTitle (title for outlineLink)
	- outlineText (buttno text for outlineLink)
{% endcomment %}

<div class="col- project">
	<div class="card">
		<!-- <div class="card-img-top project-img" style="background-image:url('{{ include.img }}')">
		<img src="{{ include.img }}" class="card-img-top project-img" alt="{{ include.imgAlt }}"> -->

		{% if include.img %}
		<div class="card-img-top project-img">
			<div class="img-wrapper">
				<div class="thumb">
					<img src="{{ include.img }}" alt="{{ include.imgAlt }}">
				</div>
			</div>
		</div>
		{% endif %}
		
		<div class="card-body">
			<h5 class="card-title">{{ include.title }}</h5>
			<p class="card-text">{{ include.description }}</p>
		</div>

		{% if include.showFooter != "false" %}
			<div class="card-footer">
				{% if include.robloxGame %}
					<a href="{{ include.robloxGame }}" class="btn btn-primary" title="Play {{ include.title | downcase }}">
						<i aria-hidden="true" class="fab icon-icon-roblox"></i>&nbsp;Play
					</a>
				{% endif %}

				{% if include.aboutLink %}
					<a href="{{ include.aboutLink }}" class="btn btn-outline-primary" title="About {{ include.title | downcase }}">
						<i aria-hidden="true" class="fas fa-question-circle"></i>&nbsp;About
					</a>
				{% endif %}

				{% if include.githubSolid %}
					<a href="{{ include.githubSolid }}" class="btn btn-primary" title="GitHub Repository">
						<i aria-hidden="true" class="fab fa-github"></i>&nbsp;GitHub Repository
					</a>
				{% endif %}

				{% if include.githubOutline %}
					<a href="{{ include.githubOutline }}" class="btn btn-outline-primary" title="GitHub Repository">
						<i aria-hidden="true" class="fab fa-github"></i>&nbsp;GitHub Repository
					</a>
				{% endif %}

				{% if include.trailerSolid %}
					<a href="{{ include.trailerSolid }}" class="btn btn-primary" title="Trailer for {{ include.title | downcase }}">
						<i aria-hidden="true" class="fab fa-youtube"></i>&nbsp;Trailer
					</a>
				{% endif %}

				{% if include.trailerOutline %}
					<a href="{{ include.trailerOutline }}" class="btn btn-outline-primary" title="Trailer for {{ include.title | downcase }}">
						<i aria-hidden="true" class="fab fa-youtube"></i>&nbsp;Trailer
					</a>
				{% endif %}

				{% if include.solidLink %}
					<a href="{{ include.solidLink }}" class="btn btn-primary" title="{{ include.solidTitle }}">
						{{ include.solidText }}
					</a>
				{% endif %}

				{% if include.outlineLink %}
					<a href="{{ include.outlineLink }}" class="btn btn-outline-primary" title="{{ include.outlineTitle }}">
						{{ include.outlineText }}
					</a>
				{% endif %}

				<br/>
			</div>
		{% endif %}
	</div>
</div>