{% if overrideDescription != "true" %}
	<meta name="description" content="Elliott Mozley's personal and portfolio website">
{% endif %}

<meta name="author" content="Elliott Mozley (ElliottLMz)">
<meta name="keywords"
	content="ElliottLMz, Elliott Mozley, ElliottMozley, Elliott, Mozley, Roblox, RbxDev, Roblox Development, RobloxDev"
>

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@elliott_lmz" />
<meta name="twitter:description" content="Elliott Mozley's personal and portfolio website" />