.card {
	position: relative;
	flex-direction: column;
	word-wrap: break-word;
	border: 1px solid rgba(0, 0, 0, 0.125);
	padding: 1rem;
	border-radius: 10px;
	transition: border-color $transition;
	
	&:hover {
		border-color: rgba(0, 0, 0, 0.5);
	}
}

.card h2 {
	margin: 0;
	font-weight: 500;
	padding-bottom: 2px;
}

.card__text {
	margin-top: 8px;
}

.deck {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	& > .card {
		margin: 20px;
	}

	& > .card {
		flex-basis: 30rem;
	}
}

.deck--centered {
	justify-content: center;
}
