.header__nav--has-margin {
	margin-bottom: 12px;
}

.header__banner {
	height: 6px;
	width: 100%;
	background-color: $primary;
}

.header__nav {
	background-color: $black;
	padding: 14px;

	& div {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
}

.header h1 {
	font-size: 22pt;
	font-weight: 800;
	color: $white;
}

.header a {
	font-size: 12pt;
	font-weight: 500;
	color: $white;

	&:hover {
		color: $primary;
	}
}

@media (min-width: 800px) {
	.header a {
		margin-left: 32px;
	}

	.header a:nth-child(2) {
		margin-left: calc(32px + 90px);
	}
}

@media (max-width: 800px) {
	.header div {
		flex-direction: column;
	}
}