.text-center {
	text-align: center;
}

a {
	color: $primary;
	text-decoration: none;
	text-decoration: underline;
	text-decoration-color: transparent;
	transition: color $transition;

	&:hover {
		color: darken($primary, 10%);
	}
}

.stretched-link {
	&::after {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 20;
		content: "";
	}
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Inter", "Roboto", sans-serif;
}

.post p {
	padding-bottom: 1rem;

	& > code {
		background-color: $white;
		padding: 1px 4px;
	}
}

.post figure.highlight {
	padding-bottom: 1rem;
}

.language-plaintext {
	color: #e83e8c;
}
