// Import google fonts
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Fjalla+One&family=Lato:wght@400;700&display=swap');

// Typography :: Fonts
$font-family-fallback: "Helvetica", sans-serif;
$font-family-condensed: 'Fjalla One', $font-family-fallback;
$font-family-headings: 'Cabin', $font-family-fallback;
$font-family-text: 'Lato', $font-family-fallback;

// Colour
$colour-text: #212529;