---
---

$primary: #1abc9c;
$black: #040b14;
$white: #efefef;

$transition: 150ms ease;

* {
	margin: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&::selection {
		background-color: $primary;
		color: #fff;
	}
}

body {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
}

p {
  margin: 0;
}

a:not(.btn),
.card-link {
  text-decoration: none;
  color: $primary;

  &:hover {
    text-decoration: underline;
    color: $primary;
  }

  &:focus {
    background-color: rgba(0, 0, 0, 0.05);
    color: $primary;
    text-decoration: none;
  }
}

.color-mozley {
  color: $primary;
}

.font-display {
  font-family: "DM Sans Display", serif;
}

@import "./header";
@import "./footer";

.content p {
  margin-bottom: 1rem;
}

.post {
  text-align: justify;
}