.card {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-interactive {
	transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-interactive:hover {
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.project-img {
	height: 128px;
	width: auto;
}

//// ////

.project-img {
	position: relative;
	// float: left;
	display: inline-block;
	width: 100%;
	max-height: 512px;
	overflow: hidden;

	&::after {
		padding-top: 100%;
		display: block;
		content: '';
	}
}

.img-wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;

	& .thumb {
		height: auto;
		width: 100%;
		display: block;
	}
}

$card-transform-x: -50%;
$card-transform-y: -25%;

.project-img img {
	position: relative;
	top: 50%;
	left: 50%;
	max-width: 100%;
	max-height: 100%;
	-webkit-transform: translate($card-transform-x, $card-transform-y);
	-moz-transform: translate($card-transform-x, $card-transform-y);
	-ms-transform: translate($card-transform-x, $card-transform-y);
	-o-transform: translate($card-transform-x, $card-transform-y);
	transform: translate($card-transform-x, $card-transform-y);
}